@using Domain.Entities
@model Application.UseCases.Delivery.Commands.CreateDelivery.CreateDeliveryCommand

@using (Html.BeginForm("Create", "Delivery", FormMethod.Post))
{
    @Html.HiddenFor(m => m.OrderId)

    <div>
        @Html.Label("Delivery type:")
        <select asp-for="Type" asp-items="Html.GetEnumSelectList<DeliveryType>()" 
                class="form-control">
        </select>
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>

    <div>
        <a asp-action="CancelCreation" asp-controller="Delivery">Cancel</a>
    </div>
}