@model Domain.Entities.Delivery

@{
    Layout = null;
}

@await Html.PartialAsync("_StylesImportPartial")

<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Тип доставки</th>
        <th scope="col">Доставка выполнена?</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Type</td>
        <td>@Model.Fulfilled</td>
    </tr>
    
    </tbody>
</table>