@model Application.UseCases.Identity.User.Commands.UpdateUser.UpdateUserCommand

@{
    Layout = null;
}

@await Html.PartialAsync("_StylesImportPartial")

@using (Html.BeginForm("ChangeEmail", "Account", FormMethod.Post,
new { @id = "changeEmailForm" }))
{
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.Label("Новый Email")
        @Html.EditorFor(m => m.Email, new
        {
            htmlAttributes = new
            {
                placeholder = "name@example.com",
                type = "email",
                @class = "form-control",
            }
        })
    </div>

    <div>
        <input type="submit" value="Сохранить" class="btn btn-primary" style="width: 100%" />
    </div>
}

@await Html.PartialAsync("_ScriptsImportPartial")
@await Html.PartialAsync("_ValidationScriptsImportPartial")

<script>
    $("#changeEmailForm").validate({
        rules: {
            Email: {
                required: true,
                minlength: 5,
                maxlength: 50,
                email: true,
                regex: "^([a-zA-Z0-9_-]+\\.)*[a-zA-Z0-9_-]+@@[a-z0-9_-]+(\\.[a-z0-9_-]+)*\\.[a-z]{2,6}$"
            }
        },
        messages: {
            Email: {
                required: "Это поле является обязательным!",
                minlength: "Введите не менее 5 символов!",
                maxlength: "Введите не более 50 символов!",
                email: "Введите валидный email!",
                regex: "Введите валидный email!"
            }
        },
        errorElement: "em"
    });
</script>