@model Application.UseCases.Identity.User.Commands.UpdateUser.UpdateUserCommand

@{
    Layout = null;
}

@await Html.PartialAsync("_StylesImportPartial")

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post,
new { @id = "changePasswordForm" }))
{
    <div class="form-group">
        @Html.Label("Пароль")
        @Html.EditorFor(m => m.Password, new
        {
            htmlAttributes = new
            {
                type = "password",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Подтверждение пароля")
        <input type="password" name="Password_confirmation"
               id="Password_confirmation" class="form-control" />
    </div>

    <div>
        <input type="submit" value="Сохранить" class="btn btn-primary" style="width: 100%" />
    </div>
}

@await Html.PartialAsync("_ScriptsImportPartial")
@await Html.PartialAsync("_ValidationScriptsImportPartial")

<script>
    $("#changePasswordForm").validate({
        rules: {
            Password: {
                required: true,
                minlength: 4,
                maxlength: 64
            },
            Password_confirmation: {
                equalTo: "#Password"
            }
        },
        messages: {
            Password: {
                required: "Это поле является обязательным!",
                minlength: "Введите не менее 4 символов!",
                maxlength: "Введите не более 64 символов!"
            },
            Password_confirmation: {
                required: "Это поле является обязательным!",
                equalTo: "Неверный подтверждающий пароль!"
            }
        }
    });
</script>