@model Application.UseCases.Supplier.Commands.DeleteSupplier.DeleteSupplierCommand

@using (Html.BeginForm("Delete", "Supplier", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id);

    <div>
        @Html.Label("Delete all products of this supplier?")
        @Html.EditorFor(m => m.ProductsDeletion)
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>
}