@model Domain.Entities.Order

@{
    Layout = null;
}

@await Html.PartialAsync("_StylesImportPartial")

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Дата</th>
            <th scope="col">Товары</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Date</td>
        <td>
            @foreach (var productsDictionary in Model.ProductsDictionary)
            {
                <a onclick="showInPopup('@Url.Action("GetOrderProducts", "Order", new {orderId = Model.Id},
                                             Context.Request.Scheme)', 'Товары заказа № @Model.Id')">
                    Просмотреть
                </a>
            }
        </td>
    </tr>
    
    </tbody>
</table>