@model IList<string>

@{
    Layout = null;
}

@await Html.PartialAsync("_StylesImportPartial")

<ul>
    @foreach (var role in Model)
    {
        <li>
            @role @Html.ActionLink("Удалить", "RemoveRoleFromUser", "Role",
                new { userId = ViewBag.UserId, roleName = role })
        </li>
    }
</ul>

@await Html.PartialAsync("_ScriptsImportPartial")
@await Html.PartialAsync("_ValidationScriptsImportPartial")