@model Domain.Entities.ShoppingCart

<h3>Корзина товаров</h3>

@if (ViewBag.User.Customer is null)
{
    <p>Для того, чтобы оформить заказ необходимо заполнить данные о вас</p>
    <button onclick="showInPopup('@Url.Action("Create", "Customer",
                                      Context.Request.Scheme)', 'Заполнение информации')">
        Заполнить
    </button>
}
else
{
    <button onclick="showInPopup('@Url.Action("Create", "Order",
                                      Context.Request.Scheme)', 'Оформление заказа')">
        Оформить заказ
    </button>
}

<a asp-action="GetOrders" asp-controller="Order">My orders</a>

<h5>Товары</h5>

<div id="productsPartial">
    @await Html.PartialAsync("_ProductsPartial") 
</div>