@model Application.UseCases.Email.Commands.SendEmail.SendEmailCommand

@{
    Layout = null;
}

@await Html.PartialAsync("_StylesImportPartial")

<form asp-action="Feedback" asp-controller="Email" method="post">
    <div class="form-group">
        @Html.Label("Введите свой Email")
        @Html.EditorFor(m => m.EmailAddress, new
        {
            htmlAttributes = new
            {
                required = "true",
                minlength = "5",
                maxlength = "50",
                placeholder = "name@example.com",
                type = "email",
                @class = "form-control",
            }
        })
    </div>

    <div>
        <input type="submit" value="Готово" class="btn btn-primary" style="width: 100%" />
    </div>
</form>

@await Html.PartialAsync("_ScriptsImportPartial")
@await Html.PartialAsync("_ValidationScriptsImportPartial")