/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
    cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: whitesmoke;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/* Custom styles
-------------------------------------------------- */

.error {
    border-color: red;
    color: red;
}

.error input {
    color:black;
}

.catalog__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.catalog-col {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 3px
}

.catalog-item-xs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    text-decoration: none;
}

.catalog-item-xs p {
    position: absolute;
    left: calc(50% - 100% /2);
    z-index: 1;
    font-size: 33px;
    width: 100%;
    color: #fff;
    font-family: "MuseoSansCyrl-700", sans-serif;
    text-align: center;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0
}

.catalog-item-xs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}

.catalog-item-xs:hover::before {
    display: none;
}

.catalog-item-xs img {
    max-width: 100%
}

.catalog-item-xs img:first-child {
    display: block
}

.catalog-item-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.catalog-item-img img {
    max-width: 100%
}

.ps-title {
    font-size: 1.1em;
    border-bottom: 1px solid #eee;
    margin: 30px 0 0 0;
}

    .ps-title span {
        font-family: 'MuseoSansCyrl-900', sans-serif;
        background-color: #fff;
        display: inline-block;
        padding: 8px 25px 5px 25px;
        border-top: 1px solid #dfdede;
        border-right: 1px solid #dfdede;
        border-bottom: 3px solid black;
        border-left: 1px solid #dfdede;
        text-transform: uppercase;
        text-align: center;
        margin-right: 10px;
        font-size: 16px;
        background-color: #f7f7f7;
    }

.clear-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.fa-shopping-cart:before {
    content: "\f07a";
    font-size: 40px;
    color: dimgrey;
}

.btn-outline-primary {
    color: black;
    border-width: 2px;
}

.btn-outline-primary:hover {
    color: white;
}

.navbar-custom-word {
    font-size: 20px;
}

.navbar-custom-link {
    padding-left: 1rem;
    padding-right: 1rem;
    place-self: center;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav-custom {
    width: 100%;
    justify-content: space-around;
    padding-right: 0;
}

.subcategory-main {
    display: flex;
}

.subcategory-left-main {
    border: groove;
    width: max-content;
    height: 100%;
    padding: 1%;
}

.subcategory-left-list {
    display: flex;
    flex-direction: column;
}

    .subcategory-left-list a {
        color: black;
        cursor: pointer;
    }

.subcategory-right-main {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.subcategory-right-list {
    width: 50%;
}

    .subcategory-right-list li:not(:first-child) {
        list-style: none;
        padding-left: 5%;
    }

    .subcategory-right-list a {
        color: black;
        cursor: pointer;
        text-decoration: underline;
    }

        .subcategory-right-list a:hover {
            color: #007bff;
            transition: .5s;
        }

.subcategory-right-list-title {
    font-size: 18px;
    font-weight: bold;
}

/*CATALOG DROPDOWN*/
/* Dropdown Button */
.category-dropbtn {
    background-color: white;
    color: black;
    font-size: 20px;
    border: none;
    z-index: 3;
}

/* The container <div> - needed to position the dropdown content */
.category-dropdown {
    position: relative;
    display: inline-block;
    z-index: 3;
}

/* Dropdown Content (Hidden by Default) */
.category-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

/* Links inside the dropdown */
.category-dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

/* Change color of dropdown links on hover */
.category-dropdown-content a:hover {
        background-color: #ddd;
    }

/* Show the dropdown menu on hover */
.category-dropdown:hover .category-dropdown-content {
    display: flex;
    flex-direction: column;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.category-dropdown:hover .category-dropbtn {
    
}

.subcategory-dropbtn {
    background-color: white;
    color: black;
    font-size: 16px;
    border: none;
    z-index: 3;
}

/* The container <div> - needed to position the dropdown content */
.subcategory-dropdown {
    position: relative;
    display: inline-block;
    z-index: 3;
}

/* Dropdown Content (Hidden by Default) */
.subcategory-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    top: 0;
    left: 100%;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

/* Links inside the dropdown */
.subcategory-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.subcategory-dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.subcategory-dropdown:hover .subcategory-dropdown-content {
    display: flex;
    flex-direction: column;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.subcategory-dropdown:hover .subcategory-dropbtn {
    background-color: #e8e7e4;
    transition: 0.5s;
}

.subsubcategory-dropbtn {
    background-color: white;
    color: black;
    font-size: 16px;
    border: none;
    z-index: 3;
}

/* The container <div> - needed to position the dropdown content */
.subsubcategory-dropdown {
    position: relative;
    display: inline-block;
    z-index: 3;
}

/* Dropdown Content (Hidden by Default) */
.subsubcategory-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    top: 0;
    left: 100%;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

/* Links inside the dropdown */
.subsubcategory-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.subsubcategory-dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.subsubcategory-dropdown:hover .subsubcategory-dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.subsubcategory-dropdown:hover .subsubcategory-dropbtn {
    background-color: #e8e7e4;
    transition: 0.5s;
}

.subsubsubcategory-btn:hover {
    background-color: #e8e7e4;
    transition: 0.5s;
}

/*CATALOG DROPDOWN*/

@media(max-width:1200px) {
    .catalog-item-xs p {
        font-size: 25px;
    }

    .navbar-brand {
        font-size: 1.25rem;
    }

    .navbar-custom-word {
        font-size: 17px;
    }

    .navbar-custom-link {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .fa-shopping-cart:before {
        font-size: 37px;
    }

    .custom-cart {
        padding-right: 10px;
    }

    #searchInput {

    }
}

@media(max-width:992px) {
    .catalog-item-xs p {
        font-size: 18px;
    }

    .ps-title span {
        font-size: 13px;
    }
}

@media(max-width:768px) {
    .catalog-item-xs p {
        font-size: 15px;
    }

    .catalog-col {
        -ms-flex-preferred-size: 49.8%;
        flex-basis: 49.8%;
    }

    .ps-title span {
        font-size: 11px;
    }
}